.ql-editor{
    font-size: 1rem;
    border: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .ql-bubble .ql-editor blockquote {
    
    border:solid;
    border:0;
    padding-left: 1rem;
    border-left: 0.3rem solid orange;
    font-size: large;
  }
  .ql-bubble .ql-editor h3{
    
    color: orange;
    margin: 1rem 0 1rem 0 ;
    font-size: large;
    font-weight: 500;
  }
  .ql-bubble .ql-editor h2{
    
    color: orange;
    margin: 1rem 0 1rem 0 ;
    font-size: larger;
    font-weight: 500;
  }
  .ql-bubble .ql-editor p{
    margin: 0.4rem 0 0.4rem 0 ;
  }
  .ql-toolbar.ql-snow {
    background-color: rgb(224, 224, 224);
  }